/* 
Author: Stephen Hill

Color Guide
**************
#9b0154 - Dark Pink
#277b18 - Green

Typography Guide
*******************
font-family's : Share Tech, Chicle, Indie Flower, Pacifico, cursive, sans-serif

html - 'Share Tech' 62px
html - 'Chicle' 42px, 22px
html - 'Pacifico', 'Indie Flower',  42px, 19px

**************************************************
0. CSS Reset
1. Universal Styles (typography, etc.)
2. Header & Nav Styles
3. Main Body Content
4. Sidebar Content
5. Footer
6. Comments and Forms
**************************************************

/*------------------------------------------------

0. CSS Reset
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)

-------------------------------------------------*/
@font-face {
  font-family: "isocpeur";
  src: url("fonts/isocpeur.ttf") format("ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------

1. Universal Styles

-------------------------------------------------*/

:root
{
    /*background-color: rgb(51,51,51);*/
    background-color: rgb(255,250,250);
}

/*------------------------------------------------

2. Header and Nav Styles

-------------------------------------------------*/

/*------------------------------------------------

3. Main Body Content

-------------------------------------------------*/

.sidebar-trigger div span 
{
    background: #000000;
}

section {
    display: block;
    justify-content: space-around;
    clear: both;
}

h2
{
    margin-left: 9.5%;
    text-align: left;
    font-weight: bold;
    font-size: 42px;
}

h3
{
    margin-top: 1.5%;
    font-size: 32px;
    margin-left: 9.5%;
    text-align: left;
    font-weight: bold;
}

figure
{
    margin: 15% 25% 5% 25%;
}

article
{
    padding-top: 1.5%;
    padding-bottom: 1%;
    width: 100%;
    font-family: isocpeur;
    font-size: 22px;
    color: rgb(13,74,121);
    box-sizing: border-box;
    /*
    border-top: 1px solid black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    
    border-bottom: 1px solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    */
}

p
{
    text-align: left;
    font-size: 22px;
    margin: .5% 10% 1.5% 10%;
    color: rgb(111,111,113);
}
article li
{
    text-align: left;
    font-size: 22px;
    margin: .75% 10% .75% 10%;
    color: rgb(111,111,113);
}

#hidden_logo
{
    display: none;
    margin-top: 1.5%;
    margin-left: 1%;
    width: 2%;
    min-width: 112px;
}

#logo
{
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;
    min-width: 482px;
}

#banner
{
    height: 370px;
    margin-top: 4%;
    margin-bottom: 3%;
    width: 100%;
}
.big_sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 775, from(#000), to(#fff));
    margin-top: 2.8%;

}

.lil_sexy_line
{
    width: 500px;
    display:block;
    margin-left: 8.5%;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 225, from(#000), to(#fff));
    margin-top: .8%;
}


/*

7. @media-------------------------------------------------*/
@media screen and (max-width: 1800px)
{
    article li
    {
        font-size: 20px;
    }
    .big_sexy_line{ 
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 750, from(#000), to(#fff));
        
}
.lil_sexy_line
{
    width: 450px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#000), to(#fff));
    margin-top: .7%;
}
}

@media screen and (max-width: 1500px)
{
    article li
    {
        font-size: 19px;
    }
    .big_sexy_line{ 
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#000), to(#fff));
}
    .lil_sexy_line
{
    width: 400px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 175, from(#000), to(#fff));
    margin-top: .6%;
}
}

@media screen and (max-width: 1200px)
{
    article li
    {
        font-size: 18px;
    }
    .big_sexy_line{ 
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 425, from(#000), to(#fff));
}
    .lil_sexy_line
{
    width: 350px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#000), to(#fff));
    margin-top: .5%;
}
    #banner
{
    height: 320px;
}
}

@media screen and (max-width: 900px)
{
    li
    {
        font-size: 17px;
    }
    .big_sexy_line
    { 
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 325, from(#000), to(#fff));
    }
    .lil_sexy_line
{
    width: 300px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 125, from(#000), to(#fff));
    margin-top: .4%;
}
    #banner
{
    height: 270px;
}
}

@media screen and (max-width: 780px)
{

    li
    {
        font-size: 16px;
    }
    section
    {
        flex-direction: column;
    }
    
    article {
        width: 100%;
    }
    .big_sexy_line
    { 
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 175, from(#000), to(#fff));

}
    .lil_sexy_line
{
    width: 250px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#000), to(#fff));
    margin-top: .3%;
    
}
      #banner
{
    height: 210px;
}
}

@media screen and (max-width: 580px)
{
        #banner
{
    height: 160px;
}
     #hidden_logo
    {
        display: block;
    }
    #logo
    {
        display: none;
    }
}

@media screen and (max-width: 420px)
{
        #banner
{
    height: 120px;
}
