/* 
Author: Stephen Hill

Color Guide
**************
#9b0154 - Dark Pink
#277b18 - Green

Typography Guide
*******************
font-family's : Share Tech, Chicle, Indie Flower, Pacifico, cursive, sans-serif

html - 'Share Tech' 62px
html - 'Chicle' 42px, 22px
html - 'Pacifico', 'Indie Flower',  42px, 19px

**************************************************
0. CSS Reset
1. Universal Styles (typography, etc.)
2. Header & Nav Styles
3. Main Body Content
4. Sidebar Content
5. Footer
6. Comments and Forms
**************************************************

/*------------------------------------------------

0. CSS Reset
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)

-------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------

1. Universal Styles

-------------------------------------------------*/

:root
{
    /*background-color: rgb(51,51,51);
    background-color: rgb(181,181,181);*/ 
    background-image: url(images/backgrounds/8957a32d3b4401e.jpg);
    background-repeat: repeat;
}

/*------------------------------------------------

2. Header and Nav Styles

-------------------------------------------------*/

/*------------------------------------------------

3. Main Body Content

-------------------------------------------------*/

section {
    display: flex;
    justify-content: space-around;
    clear: both;
    flex-wrap: wrap;
}

h1
{
    font-weight: 500;
    width: 30%;
    margin: % 35% 2% 35%;
    font-family: isocpeur, cursive;
    font-size: 42px;
    color: rgb(13,74,121);
}

figure a img {
    display: block;
    margin: 0 auto;
    width: 107px;
    transition: 500ms;
    background: white;
}

figure a img:hover
{
    background: rgb(99, 181, 235);
}

figure
{
    margin: 15% 25% 5% 25%;
}

/*article
{
    width: 33%;
    box-sizing: border-box;
    font-family: isocpeur, cursive;
    font-size: 42px;
    color: royalblue;
}
*/
p
{
    font-size: 22px;
    margin: 5% 15% 5% 15%;
}

#logo
{
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;
    min-width: 482px;
}

#banner
{
    width: 100%;
}

/*

7. @media-------------------------------------------------*/

@media screen and (max-width: 780px)
{

   section
    {
        flex-direction: column;
    }
    
    article {
        width: 100%;
    }
}