/************** Contact Page **************/
@font-face {
  font-family: "isocpeur";
  src: url("fonts/isocpeur.ttf") format("ttf");
}


body {
    background-image: url("images/backgrounds/background1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    transition: 2s;
    overflow: auto;
}

#contact-container article {
    display: flex;
}

 #contact-container article address {
    font-size: 1.5em;
    width: 100%;
    margin: auto;
}

#logo
{
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;
}


#contact-container article form {
    width: 100%;
    padding: 5px;
    margin: auto;
}

input, textarea, label, button {
    margin: 5px;
    padding: 1px;
}

textarea {
    width: 85%;
    height: 100px;
}

table 
{
    width: 100%;
    background: rgb(255, 255, 255, 0.4);
}

table input {
    width: 75%;
}

table tr td:first-child:not(:last-child){
    text-align: right;
}

table:last-child {
    text-align: center;
} 

address
{
    font-family: isocpeur, cursive;
    color: rgb(13, 74, 121);
    text-shadow: 1px 0px #98989A, 0px 1px #98989A, -1px 0px #98989A, 0px -1px #98989A;
}

strong
{
    font-size: 1.3em;
}