/************** Projects **************/

#projects-page {
    height: auto;
}

#projects-page section {
    margin-top: 10%;
    width: 100%;
    
}

.projects-container div {
    padding: 0.5%;
    border-radius: 5px;

}

.project {
    background-color: var(--main-bg-color);
    margin: 1% auto;
}

.project img {
    width: 100%;
}

#multi-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#multi-project .project {
    width: 40%;
}