/************** Projects **************/

#projects-page {
    height: auto;
}

#projects-page section {
    margin-top: 1%;
    margin-left: 5%;
    width: 45%;
}

.big:hover
{
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 25px;
    transition: .3s;
    transform: scale(1.1);
    transform-origin: center;
}

.projects-container div {
    padding: 0.2%;
    border-radius: 5px;
}


.project img {
    width: 100%;
    border-radius: 2px;
}

#multi-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#multi-project .project {
    width: 40%;
}

.sidebar-trigger div span {
    background: #000000;
}

#logo
{
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;
    background-color: rgb(255, 255, 255, 0.4);
}

body
{
    background: #d0d2dd;
    background-repeat: repeat;
    background-size: cover;
}