html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/************** Body Style **************/

html, body {
    font-family: sans-serif;
    height: 100%;
} html {
     box-sizing: border-box;
}
 *, *:before, *:after {
     box-sizing: inherit;
}

/************** Headers **************/

.sidebar {
    position: fixed;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
}
.sidebar-trigger {
    padding: .75rem;
    width: 100%;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0;
}
.sidebar-trigger:hover {
    background: rgba(255, 255, 255, 0.9);
}
.sidebar-trigger:hover div span {
    background: #000000;
}
.sidebar-trigger div {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sidebar-trigger div span {
    display: block;
    background: #ffffff;
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0;
}
.sidebar-trigger .first span, .sidebar-trigger .third span {
    width: 100%;
    height: 100%;
}
.sidebar-trigger .second span:first-of-type {
    width: 50%;
    margin-right: 20%;
}
.sidebar-trigger .second span:last-of-type {
    width: 30%;
}
.sidebar-trigger .fourth span:first-of-type {
    width: 30%;
    margin-right: 20%;
}
.sidebar-trigger .fourth span:last-of-type {
    width: 50%;
}

.sidebar-trigger.is--active .first span {
    transform: rotate(-45deg) translate(-12px, 10px)
}

.sidebar-trigger.is--active .second span,
.sidebar-trigger.is--active .fourth span {
    opacity: 0;
}

.sidebar-trigger.is--active .third span {
    transform: rotate(45deg);
}

.sidebar-nav {
    position: absolute;
    left: -167px;
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.9);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0;
}
@media only screen and (max-width: 768px) {
    .sidebar-nav {
        height: 100%;
        top: 0 !important;
        left: -153px;
   }
}
.sidebar-nav.is--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.sidebar-nav li a {
    display: block;
    padding: .5rem 3rem .5rem .75rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    color: #000000;
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0;
}
.sidebar-nav li a:hover {
    background: #000000;
    color: #ffffff;
}
.sidebar-nav .dropdown {
    position: relative;
}
.sidebar-nav .dropdown ul {
    position: absolute;
    z-index: 40;
    top: 0;
    left: -274px;
    background: #000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
@media only screen and (max-width: 768px) {
    .sidebar-nav .dropdown ul {
        position: relative;
        top: 0;
        left: 0;
        display: none;
   }
}
.sidebar-nav .dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    background: rgba(255, 255, 255, 0.9);
}